<% if object.errors.any? %>
  <div id="error_explanation">
    <p>
      <%= pluralize(object.errors.count, "error") %> prohibited
      this article from being saved:
    </p>
    <% object.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </div>
<% end %>
