<div class='container'>
  <div class='page'>
    <%= render 'partials/page_title' %>
    <div class='row'>
      <div class='col text-center'>
        <%= render 'form', skill: @skill %>
      </div>
    </div>
  </div>
</div>