<div class="container-fluid">
  <div class="page mt-5">
    <div class='row'>
      <div class='col text-center'>
        <%= link_to 'Go to apps', apps_path, class: 'btn btn-secondary mb-2' %>
      </div>
    </div>
    <div class='row'>
      <div class='col text-center'>
        <%= link_to 'Go to clients', clients_path, class: 'btn btn-secondary mb-2' %>
      </div>
    </div>
    <div class='row'>
      <div class='col text-center'>
        <%= link_to 'Go to skills', skills_path, class: 'btn btn-secondary mb-2' %>
      </div>
    </div>
  </div>
</div>