html {
  overflow-y: scroll;
}

.page {
  padding-top: 2em;
  padding-bottom: 3em;
  // min-height: 62%;
  margin: auto;
  margin-left: 3rem;
  margin-right: 3rem;
}

.navbar {
  font-family: "Montserrat", sans-serif, Arial, serif;
  background-color: #29BB9C !important;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

// .navbar-brand {
//   margin-top: 4rem !important;
//   margin-bottom: 4rem !important;
//   margin-left: 4rem !important;
// }

.navbar-spacing {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
  margin-left: 4rem !important;
}

// .navbar-nav {
//   margin-right: 5rem !important;
// }

.navbar-nav-right {
  margin-right: 5rem !important;
}

.pagy-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}