html {
  overflow-y: scroll;
}

.page {
  padding-top: 2em;
  padding-bottom: 3em;
  margin: auto;
  background-color: #F2F2F2;
}

.navbar {
  font-family: "Montserrat", sans-serif, Arial, serif;
  background-color: #29BB9C !important;
}

.container-fluid {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.navbar-spacing {
  margin-top: 4rem !important;
  margin-bottom: 4rem !important;
  margin-left: 4rem !important;
}

.navbar-nav-right {
  margin-right: 5rem !important;
}

.pagy-middle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.page-title {
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.card {
  height: 100%;
  width: 15rem !important;
  // margin-bottom: 2rem !important;
}

.card-text {
  font-size: 0.8rem;
}

.alert {
  background-color: #ff0f0f;
}

.notice {
  background-color: #ACDF87;
}